.accordion_title {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid #E7EBF0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.250vw;
  line-height: 2.5vw;
  color: #2E3A59;
  white-space: nowrap;
  margin-bottom: 0.260vw;
}
.accordion_item {
  text-align: left;
  width: 33.854vw;
  margin-left: 7.813vw;
  flex-direction: column;
  margin-top: 1.120vw;
  margin-bottom: 1.042vw;
  line-height: 1.563vw;
  font-weight: 400;
  font-size: 1.042vw;
  color: #2E3A59;
}
.accordion_content {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.8s ease-in-out;
}
.accordion_item.active .accordion_content {
  max-height: 52.083vw;
}
.activeTitle {
  color: #00C368;
}
.pictures_container {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15.469vw;
  margin-left: 3.646vw;
}
.one {
  background-image: url('./stability24_icon.png');
  background-size: cover;
  height: 2.083vw;
  width: 2.083vw;
  margin-bottom: 1.823vw;
}
.two {
  background-image: url('./LED.png');
  background-size: cover;
  height: 2.083vw;
  width: 2.083vw;
  margin-bottom: 1.823vw;
}
.three {
  background-image: url('./lights\ off.png');
  background-size: cover;
  height: 2.083vw;
  width: 2.083vw;
  margin-bottom: 1.823vw;
}
.four {
  background-image: url('./splitter.png');
  background-size: cover;
  height: 2.083vw;
  width: 2.083vw;
  margin-bottom: 1.979vw;
}
.five {
  background-image: url('./power\ off.png');
  background-size: cover;
  height: 2.083vw;
  width: 2.083vw;
  margin-bottom: 1.823vw;
}
.arrow {
  margin-top: 1.042vw;
  background-image: url('./Vector.png');
  height: 2.233vw;
  width: 4.222vw;
  color: #A6ABBD;
  margin-left: 8.490vw;
  transition: 0.1s ease-in-out;
}
.arrow_active {
  transform: rotate(180deg);
  transition: 0.1s ease-in-out;
}

@media screen and (max-width: 450px) {
  .accordion_container .accordion_title {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #E7EBF0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 5.250vw;
    line-height: 2.5vw;
    color: #2E3A59;
    white-space: nowrap;
    padding-bottom: 2.222vw;
  }
  .accordion_container .accordion_item {
    text-align: left;
    width: 120vw;
    margin-left: 12vw;
    flex-direction: column;
    margin-top: 4.778vw;
    margin-bottom: 4.444vw;
    line-height: 6.667vw;
    font-weight: 400;
    font-size: 4.444vw;
    color: #2E3A59;
  }
  .accordion_container .activeTitle {
    color: #00C368;
  }
  .arrow {
    position: relative;
    margin-left: 31vw;
    display: flex;
    margin-top: 10vw;
    background-image: url('./Vector.png');
    background-size: cover;
    height: 2.233vw;
    width: 4.222vw;
    color: #A6ABBD;
    transition: 0.1s ease-in-out;
  }
  .one {
    display: none;
  }
  .two {
    display: none;
  }
  .three {
    display: none;
  }
  .four {
    display: none;
  }
  .five {
    display: none;
  }
}


@media screen and (max-width: 1366px) {
  .accordion_item {
    text-align: left;
    width: 38.3vw;
    margin-left: 7vw;
    flex-direction: column;
    margin-top: 21.5px;
    margin-bottom: 1.042vw;
    line-height: 1.563vw;
    font-weight: 400;
    font-size: 1.3vw;
    color: #2E3A59;
  }
  .pictures_container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 21.1vw;
    margin-left: 2vw;
  }
  .one {
    background-image: url('./stability24_icon.png');
    background-size: cover;
    height: 2.083vw;
    width: 2.083vw;
    margin-bottom: 2.3vw;
  }
  .two {
    background-image: url('./LED.png');
    background-size: cover;
    height: 2.083vw;
    width: 2.083vw;
    margin-bottom: 2.25vw;
  }
  .three {
    background-image: url('./lights\ off.png');
    background-size: cover;
    height: 2.083vw;
    width: 2.083vw;
    margin-bottom: 2.35vw;
  }
  .four {
    background-image: url('./splitter.png');
    background-size: cover;
    height: 2.083vw;
    width: 2.083vw;
    margin-bottom: 2.3vw;
  }
  .five {
    background-image: url('./power\ off.png');
    background-size: cover;
    height: 2.083vw;
    width: 2.083vw;
  }
  .arrow {
    margin-top: 1.042vw;
    background-image: url('./Vector.png');
    height: 10.05px;
    width: 19px;
    color: #A6ABBD;
    margin-left: 12.7vw;
    transition: 0.1s ease-in-out;
  }
}