.main_container {
  display: flex;
  position: absolute;
  height: 947px;
  width: 100%;
  background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
  top: 160px;
}
.bubbles_right {
  background-image: url('./pattern_right.png');
  background-size: cover;
  position: absolute;
  width: 588.26px;
  height: 599.2px;
  left: 1300px;
  filter: blur(5px);
}
.bubbles_left {
  background-image: url('./pattern_left.png');
  background-size: cover;
  position: absolute;
  width: 600px;
  height: 600px;
  top: 400px;
}
.line {
  justify-content: center;
  position: absolute;
  width: 184px;
  height: 4px;
  left: 906px;
  top: 75px;
  background: #00C368
}
.title {
  justify-content: center;
  position: absolute;
  width: 1223px;
  height: 47px;
  left: 391px;
  top: 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: #2E3A59;
}
.pictures_container {
  justify-content: center;
}
.operator {
  background-image: url('./82.png');
  background-size: cover;
  width: 64px;
  height: 71.5px;
  position: absolute;
  left: 793px;
  top: 217px;
  border-radius: 50%;
}
.square {
  background-image: url('./83.png');
  background-size: cover;
  width: 82px;
  height: 93px;
  position: absolute;
  left: 1069.64px;
  top: 202px;
}
.note {
  background-image: url('./81.png');
  background-size: cover;
  box-sizing: border-box;
  position: absolute;
  width: 66px;
  height: 82px;
  left: 607.5px;
  top: 489px;
  border-radius: 4px;
}
.berries {
  background-image: url('./box\ 2.png');
  background-size: cover;
  position: absolute;
  width: 436.34px;
  height: 270px;
  left: 765px;
  top: 430px;
  filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.16));
}
.item {
  background-image: url('./84.png');
  background-size: cover;
  position: absolute;
  position: absolute;
  width: 96px;
  height: 87px;
  left: 1263.5px;
  top: 483px;
}
.operator2 {
  background-image: url('./82.png');
  background-size: cover;
  position: absolute;
  width: 64px;
  height: 71.5px;
  left: 793px;
  top: 730px;
}
.square2 {
  background-image: url('./83.png');
  background-size: cover;
  width: 82px;
  height: 93px;
  position: absolute;
  left: 1099.77px;
  top: 712px;
}
.operator:hover {
  cursor: pointer;
  filter: hue-rotate(290deg) saturate(10);
}
.square:hover {
  cursor: pointer;
  filter: hue-rotate(290deg) saturate(10);
}
.note:hover {
  cursor: pointer;
  filter: hue-rotate(290deg) saturate(10);
}
.item:hover{
  cursor: pointer;
  filter: hue-rotate(290deg) saturate(10);
}
.operator2:hover {
  cursor: pointer;
  filter: hue-rotate(290deg) saturate(10);
}
.square2:hover {
  cursor: pointer;
  filter: hue-rotate(290deg) saturate(10);
}
.text {
  position: absolute;
  width: 176px;
  height: 57px;
  left: 737px;
  top: 290px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2E3A59;
}
.text2 {
  position: absolute;
  width: 179px;
  height: 57px;
  left: 1022px;
  top: 290px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2E3A59;
}
.text3 {
  position: absolute;
  width: 186px;
  height: 57px;
  left: 543.5px;
  top: 565px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2E3A59;
}
.text4 {
  position: absolute;
  width: 178px;
  height: 57px;
  left: 1217.5px;
  top: 565px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2E3A59;
}
.text5 {
  position: absolute;
  width: 178px;
  height: 57px;
  left: 736px;
  top: 800px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2E3A59;
}
.text6 {
  position: absolute;
  width: 199px;
  height: 38px;
  left: 1050px;
  top: 800px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2E3A59;
}