.main_container {
  display: flex;
  position: absolute;
  height: 49.323vw;
  width: 100%;
  background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
  top: 8.33vw;
}
.bubbles_right {
  background-image: url('./pattern_right.png');
  background-size: cover;
  position: absolute;
  width: 30.639vw;
  height: 31.208vw;
  left: 67.708vw;
  filter: blur(5px);
}
.bubbles_left {
  background-image: url('./pattern_left.png');
  background-size: cover;
  position: absolute;
  width: 31.250vw;
  height: 31.250vw;
  top: 20.833vw;
}
.line {
  justify-content: center;
  position: absolute;
  width: 9.583vw;
  height: 0.208vw;
  left: 47.188vw;
  top: 3.906vw;
  background: #00C368
}
.title {
  justify-content: center;
  position: absolute;
  width: 63.698vw;
  height: 2.448vw;
  left: 20.365vw;
  top: 3.125vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2.083vw;
  line-height: 2.448vw;
  text-align: center;
  text-transform: uppercase;
  color: #2E3A59;
}
.pictures_container {
  justify-content: center;
}
.operator {
  background-image: url('./82.png');
  background-size: cover;
  width: 3.333vw;
  height: 3.724vw;
  position: absolute;
  left: 41.302vw;
  top: 11.302vw;
  border-radius: 50%;
}
.square {
  background-image: url('./83.png');
  background-size: cover;
  width: 4.271vw;
  height: 4.844vw;
  position: absolute;
  left: 55.710vw;
  top: 10.521vw;
}
.note {
  background-image: url('./81.png');
  background-size: cover;
  box-sizing: border-box;
  position: absolute;
  width: 3.438vw;
  height: 4.271vw;
  left: 31.641vw;
  top: 25.469vw;
  border-radius: 4px;
}
.berries {
  background-image: url('./box\ 2.png');
  background-size: cover;
  position: absolute;
  width: 22.726vw;
  height: 14.063vw;
  left: 39.844vw;
  top: 22.396vw;
  filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.16));
}
.item {
  background-image: url('./84.png');
  background-size: cover;
  position: absolute;
  width: 5vw;
  height: 4.531vw;
  left: 65.807vw;
  top: 25.156vw;
}
.operator2 {
  background-image: url('./82.png');
  background-size: cover;
  position: absolute;
  width: 3.333vw;
  height: 3.724vw;
  left:41.302vw;
  top: 38.021vw;
}
.square2 {
  background-image: url('./83.png');
  background-size: cover;
  width: 4.271vw;
  height: 4.844vw;
  position: absolute;
  left: 55.710vw;
  top: 37.083vw;
}
.operator:hover {
  cursor: pointer;
  filter: hue-rotate(290deg) saturate(10);
}
.square:hover {
  cursor: pointer;
  filter: hue-rotate(290deg) saturate(10);
}
.note:hover {
  cursor: pointer;
  filter: hue-rotate(290deg) saturate(10);
}
.item:hover{
  cursor: pointer;
  filter: hue-rotate(290deg) saturate(10);
}
.operator2:hover {
  cursor: pointer;
  filter: hue-rotate(290deg) saturate(10);
}
.square2:hover {
  cursor: pointer;
  filter: hue-rotate(290deg) saturate(10);
}
.text {
  position: absolute;
  width: 9.167vw;
  height: 2.969vw;
  left: 38.385vw;
  top: 15.104vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 0.990vw;
  text-align: center;
  color: #2E3A59;
}
.text2 {
  position: absolute;
  width: 9.167vw;
  height: 2.969vw;
  left: 53.229vw;
  top: 15.104vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 0.990vw;
  text-align: center;
  color: #2E3A59;
}
.text3 {
  position: absolute;
  width: 9.688vw;
  height: 2.969vw;
  left: 28.307vw;
  top: 29.427vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 0.990vw;
  text-align: center;
  color: #2E3A59;
}
.text4 {
  position: absolute;
  width: 9.271vw;
  height: 2.969vw;
  left: 63.411vw;
  top: 29.427vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 0.990vw;
  text-align: center;
  color: #2E3A59;
}
.text5 {
  position: absolute;
  width: 9.271vw;
  height: 2.969vw;
  left: 38.333vw;
  top: 41.667vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 0.990vw;
  text-align: center;
  color: #2E3A59;
}
.text6 {
  position: absolute;
  width: 10.365vw;
  height: 1.979vw;
  left: 53.229vw;
  top: 41.667vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.833vw;
  line-height: 0.990vw;
  text-align: center;
  color: #2E3A59;
}

@media screen and (max-width: 450px) {
  .main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    background: none !important;
  }
  .bubbles_right {
    display: none;
  }
  .bubbles_left {
    display: none;
  }
  .line {
    display: none;
  }
  .main_container .title {
    position: relative;
    width: 288px;
    height: 56px;
    margin-left: -55vw;
    margin-top: -250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #2E3A59;
  }
  .main_container .pictures_container {
    display: flex;
  }
  .operator {
    display: none;
  }
  .square {
    display: none;
  }
  .note {
    display: none;
  }
  .berries {
    position: absolute;
    background-image: url('./box\ 2.png');
    background-size: cover;
    margin-top: -430px;
    margin-left: -60%;
    width: 228px;
    height: 155px;
    filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.16));
  }
  .item {
    display: none;
  }
  .operator2 {
    display: none;
  }
  .square2 {
    display: none;
  }
  .operator:hover {
    cursor: pointer;
    filter: hue-rotate(290deg) saturate(10);
  }
  .square:hover {
    cursor: pointer;
    filter: hue-rotate(290deg) saturate(10);
  }
  .note:hover {
    cursor: pointer;
    filter: hue-rotate(290deg) saturate(10);
  }
  .item:hover{
    cursor: pointer;
    filter: hue-rotate(290deg) saturate(10);
  }
  .operator2:hover {
    cursor: pointer;
    filter: hue-rotate(290deg) saturate(10);
  }
  .square2:hover {
    cursor: pointer;
    filter: hue-rotate(290deg) saturate(10);
  }
  .text {
    display: none;
    width: 176px;
    height: 57px;
    top: 290px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #2E3A59;
  }
  .text2 {
    display: none;
    width: 179px;
    height: 57px;
    top: 290px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #2E3A59;
  }
  .text3 {
    display: none;
    width: 186px;
    height: 57px;
    top: 565px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #2E3A59;
  }
  .text4 {
    display: none;
    width: 178px;
    height: 57px;
    top: 565px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #2E3A59;
  }
  .text5 {
    display: none;
    width: 178px;
    height: 57px;
    top: 800px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #2E3A59;
  }
  .text6 {
    display: none;
    width: 199px;
    height: 38px;
    top: 800px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #2E3A59;
  }
}

@media screen and (max-width: 1366px) {
  .main_container {
    display: flex;
    position: absolute;
    height: 69.327vw;
    width: 100%;
    background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
    top: 8.419vw;
  }
  .bubbles_right {
    background-image: url('./pattern_right.png');
    background-size: cover;
    position: absolute;
    top: 1.464vw;
    width: 34vw;
    height: 33vw;
    left: 65%;
    filter: blur(5px);
  }
  .bubbles_left {
    background-image: url('./pattern_left.png');
    background-size: cover;
    position: absolute;
    width: 34vw;
    height: 34vw;
    top: 38.067vw;
    left: -3%;
  }
  .line {
    justify-content: center;
    position: absolute;
    width: 13.470vw;
    height: 0.293vw;
    left: 43%;
    top: 5.490vw;
    background: #00C368
  }
  .title {
    justify-content: center;
    position: absolute;
    width: 89.531vw;
    height: 3.441vw;
    left: 4.6%;
    top: 4.392vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2.928vw;
    line-height: 3.441vw;
    text-align: center;
    text-transform: uppercase;
    color: #2E3A59;
  }
  .pictures_container {
    justify-content: center;
  }
  .operator {
    background-image: url('./82.png');
    background-size: cover;
    width: 4.685vw;
    height: 5.234vw;
    position: absolute;
    left: 35%;
    top: 15.886vw;
    border-radius: 50%;
  }
  .square {
    background-image: url('./83.png');
    background-size: cover;
    width: 6.003vw;
    height: 6.808vw;
    position: absolute;
    left: 59%;
    top: 14.788vw;
  }
  .text {
    position: absolute;
    width: 12.884vw;
    height: 4.173vw;
    left: 31%;
    top: 21.230vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.171vw;
    line-height: 1.391vw;
    text-align: center;
    color: #2E3A59;
  }
  .text2 {
    position: absolute;
    width: 13.104vw;
    height: 4.173vw;
    left: 56%;
    top: 21.230vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.171vw;
    line-height: 1.391vw;
    text-align: center;
    color: #2E3A59;
  }
  .note {
    background-image: url('./81.png');
    background-size: cover;
    box-sizing: border-box;
    position: absolute;
    width: 4.832vw;
    height: 6.003vw;
    left: 20%;
    top: 35.798vw;
    border-radius: 0.293vw;
  }
  .berries {
    background-image: url('./box\ 2.png');
    background-size: cover;
    position: absolute;
    width: 31.943vw;
    height: 19.766vw;
    left: 34%;
    top: 31.479vw;
    filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.16));
  }
  .item {
    background-image: url('./84.png');
    background-size: cover;
    position: absolute;
    width: 7.028vw;
    height: 6.369vw;
    left: 75.5%;
    top: 35.359vw;
  }
  .text3 {
    position: absolute;
    width: 13.616vw;
    height: 4.173vw;
    left: 15.5%;
    top: 41.362vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.171vw;
    line-height: 1.391vw;
    text-align: center;
    color: #2E3A59;
  }
  .text4 {
    position: absolute;
    width: 13.031vw;
    height: 4.173vw;
    left: 72.5%;
    top: 41.362vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.171vw;
    line-height: 1.391vw;
    text-align: center;
    color: #2E3A59;
  }
  .operator2 {
    background-image: url('./82.png');
    background-size: cover;
    position: absolute;
    width: 4.685vw;
    height: 5.234vw;
    left: 35%;
    top: 53.441vw;
  }
  .square2 {
    background-image: url('./83.png');
    background-size: cover;
    width: 6.003vw;
    height: 6.808vw;
    position: absolute;
    left: 59%;
    top: 52.123vw;
  }
  .text5 {
    position: absolute;
    width: 13.031vw;
    height: 4.173vw;
    left: 31%;
    top: 58.565vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.171vw;
    line-height: 1.391vw;
    text-align: center;
    color: #2E3A59;
  }
  .text6 {
    position: absolute;
    width: 14.568vw;
    height: 2.782vw;
    left: 56%;
    top: 58.565vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.171vw;
    line-height: 1.391vw;
    text-align: center;
    color: #2E3A59;
  }
}