.main_container {
  display: flex;
  position: absolute;
  height: 947px;
  width: 100%;
  background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
  top: 160px;
}
.bubbles_right {
  background-image: url('./pattern_right.png');
  background-size: cover;
  position: absolute;
  width: 588.26px;
  height: 599.2px;
  left: 1300px;
  filter: blur(5px);
}
.line {
  justify-content: center;
  position: absolute;
  width: 184px;
  height: 4px;
  left: 906px;
  top: 75px;
  background: #00C368
}
.title {
  justify-content: center;
  position: absolute;
  width: 1223px;
  height: 47px;
  left: 391px;
  top: 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: #2E3A59;
}