.section_container {
  display: flex;
  width: 100%;
  height: 829px;
}
.left_section_container {
  position: absolute;
  width: 960px;
  height: 829px;
  left: 0px;
  top: 1102px;
  background: #F5F5F5;
}
.line {
  position: absolute;
  width: 184px;
  height: 4px;
  left: 388px;
  top: 96px;
  background: #00C368;
}
.title {
  position: absolute;
  width: 814px;
  height: 94px;
  left: 73px;
  top: 80px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #2E3A59;
}
.paragraph_container {
  display: flex;
}
.photo {
  background-image: url('./Rectangle\ 88.png');
  box-sizing: border-box;
  background-size: cover;
  position: absolute;
  width: 187px;
  height: 187px;
  left: 130px;
  top: 266px;
  filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.5));
}
.quotes {
  background-image: url('./quotes.png');
  position: absolute;
  width: 40px;
  height: 26px;
  left: 331px;
  top: 265px;
}
.text {
  position: absolute;
  text-align: left;
  width: 489px;
  height: 201px;
  left: 388px;
  top: 265px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2E3A59;
}
.jane {
  font-weight: bold;
  line-height: 50px;
}
.quotes_oposite {
  background-image: url('./quotes.png');
  position: absolute;
  width: 40px;
  height: 26px;
  left: 897px;
  top: 462px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
}
.bottom_left_container {
  margin-top: 600px;

}
.p1 {
  text-align: left;
  position: absolute;
  width: 242px;
  height: 129px;
  left: 130px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2E3A59;
}
.photo_mini {
  background-image: url('./Rectangle\ 88.png');
  box-sizing: border-box;
  position: absolute;
  width: 97px;
  height: 97px;
  top: 610px;
  left: 370px;
  background-size: cover;
  filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.5));
}
.photo_mini2 {
  background-image: url('./Rectangle\ 88.png');
  box-sizing: border-box;
  position: absolute;
  width: 97px;
  height: 97px;
  top: 610px;
  left: 490px;
  background-size: cover;
  filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.5));
}
.p2 {
  text-align: left;
  position: absolute;
  width: 242px;
  height: 129px;
  left: 610px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2E3A59;
}
.right_section_container {
  position: absolute;
  right: 1px;
  width: 942px;
  height: 829px;
  top: 1102px;
  background: #F8FBFF;
}