.carousel {
  top: 85.556vw;
  position: relative;
  margin-left: -40vw;
}
.carouselInner {
  position: relative;
  overflow: hidden;
  width: 66.667vw;
  height: 66.667vw;
}
.carouselItem {
  margin-left: 22.222vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.carouselItem.active {
  opacity: 1;
}
.visuallyHidden {
  cursor: pointer;
  background: none;
  background-image: url('./arrow_m_l.png');
  height: 25px;
  width: 10px;
  background-size: cover;
  border: none;
  margin-left: 2%;
  position: absolute;
  left: 0;
  top: 61.111vw;
}
.visuallyHiddenW {
  cursor: pointer;
  background: none;
  background-image: url('./arrow_m_l.png');
  height: 25px;
  width: 10px;
  background-size: cover;
  transform: rotate(180deg);
  border: none;
  margin-right: 15%;
  position: absolute;
  right: 0;
  top: 61.111vw;
}
.operator {
  position: relative;
  margin-left: -2%;
  background-image: url('./82.png');
  background-size: cover;
  width: 14.222vw;
  height: 15.889vw;
  top: 0;
  border-radius: 50%;
}
.square {
  position: relative;
  margin-left: -5.111vw;
  background-image: url('./83.png');
  background-size: cover;
  width: 18.222vw;
  height: 20.667vw;
  top: -3.333vw;
}
.note {
  position: relative;
  margin-left: -0.889vw;
  background-image: url('./81.png');
  background-size: cover;
  box-sizing: border-box;
  width: 14.667vw;
  height: 18.222vw;
  top: 0;
  border-radius: 4px;
}
.item {
  position: relative;
  margin-left: -4.222vw;
  background-image: url('./84.png');
  background-size: cover;
  width: 21.333vw;
  height: 19.333vw;
  box-sizing: border-box;
  top: 0;
}
.carouselText1 {
  margin-top: 13.233vw;
  margin-left: -15.556vw;
  height: 22.222vw;
  width: 44.444vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 4.444vw;
  line-height: 4.222vw;
  text-align: center;
  color: #2E3A59;
}
.carouselText2 {
  margin-top: 8.444vw;
  margin-left: -15.556vw;
  height: 22.222vw;
  width: 44.444vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 4.444vw;
  line-height: 4.222vw;
  text-align: center;
  color: #2E3A59;
}
.carouselText3 {
  margin-top: 10.889vw;
  margin-left: -15.556vw;
  height: 22.222vw;
  width: 44.444vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 4.444vw;
  line-height: 4.222vw;
  text-align: center;
  color: #2E3A59;
}
.carouselText4 {
  margin-top: 9.700vw;
  margin-left: -15.556vw;
  height: 22.222vw;
  width: 44.444vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 4.444vw;
  line-height: 4.222vw;
  text-align: center;
  color: #2E3A59;
}
.carouselText5 {
  margin-top: 8.444vw;
  margin-left: -15.556vw;
  height: 22.222vw;
  width: 44.444vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 4.444vw;
  line-height: 4.222vw;
  text-align: center;
  color: #2E3A59;
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22.222vw;
  width: 22.222vw;
  margin-top: -14vw;
  margin-left: 17.778vw;
}
.dot {
  cursor: pointer;
  z-index: 4;
  width: 2.222vw;
  height: 2.222vw;
  margin: 0 5px;
  border-radius: 100%;
  background-color: #E7EBF0;
  cursor: pointer;
  flex: 1;
}
.activeDot {
  background-color: #A6ABBD;
  opacity: 9;
  transition: 0.6s ease-in-out;
}