.carousel {
  position: relative;
  margin-left: -180px;
}
.carouselInner {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.carouselItem {
  margin-left: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.carouselItem.active {
  opacity: 1;
}
.arrows {
  margin-top: -8%;
  display: flex;
  justify-content: space-between;
  margin-left: -3.5%;
}
.visuallyHidden {
  background: none;
  background-image: url('./arrow_m_l.png');
  height: 25px;
  width: 10px;
  background-size: cover;
  border: none;
  margin-left: 5%;
}
.visuallyHiddenW {
  background: none;
  background-image: url('./arrow_m_l.png');
  height: 25px;
  width: 10px;
  background-size: cover;
  transform: rotate(180deg);
  border: none;
  margin-right: 15%;
}
.operator {
  position: relative;
  margin-left: -2%;
  background-image: url('./82.png');
  background-size: cover;
  width: 64px;
  height: 71.5px;
  top: 0;
  border-radius: 50%;
}
.square {
  position: relative;
  margin-left: -23px;
  background-image: url('./83.png');
  background-size: cover;
  width: 82px;
  height: 93px;
  top: -15px;
}
.note {
  position: relative;
  margin-left: -4px;
  background-image: url('./81.png');
  background-size: cover;
  box-sizing: border-box;
  width: 66px;
  height: 82px;
  top: 0;
  border-radius: 4px;
}
.item {
  position: relative;
  margin-left: -19px;
  background-image: url('./84.png');
  background-size: cover;
  width: 96px;
  height: 87px;
  box-sizing: border-box;
  top: 0;
}
.carouselText {
  margin-left: -70px;
  height: 100px;
  width: 200px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  color: #2E3A59;
}