.carousel {
  position: relative;
  margin-left: -90px;
}
.carouselInner {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.carouselItem {
  margin-left: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.carouselItem.active {
  opacity: 1;
}
.arrows {
  display: flex;
  justify-content: space-between;
  margin-left: -17%;
}
.visuallyHidden {
  background: none;
  background-image: url('./arrow_m_l.png');
  height: 25px;
  width: 10px;
  background-size: cover;
  border: none;
  margin-left: 5%;
}
.visuallyHiddenW {
  background: none;
  background-image: url('./arrow_m_l.png');
  height: 25px;
  width: 10px;
  background-size: cover;
  transform: rotate(180deg);
  border: none;
  margin-right: 30%;
}
.operator {
  position: relative;
  margin-left: -3%;
  background-image: url('./82.png');
  background-size: cover;
  width: 64px;
  height: 71.5px;
  top: 0;
  border-radius: 50%;
}
.square {
  position: relative;
  margin-left: -24px;
  background-image: url('./83.png');
  background-size: cover;
  width: 82px;
  height: 93px;
  top: -15px;
}
.note {
  position: relative;
  margin-left: -7px;
  background-image: url('./81.png');
  background-size: cover;
  box-sizing: border-box;
  width: 66px;
  height: 82px;
  top: 0;
  border-radius: 4px;
}
.item {
  position: relative;
  margin-left: -20px;
  background-image: url('./84.png');
  background-size: cover;
  width: 96px;
  height: 87px;
  box-sizing: border-box;
  top: 0;
}